footer {
    text-align: center;
    bottom: 0;
    padding: 20px;
    // background-image: linear-gradient(45deg, #f3ec78, #af4261);
    // background-size: 100%;
    // background-repeat: repeat;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    

    .social-media {
        display: flex;
        justify-content: space-around;

        a {
            i {
                color: $primary-color;
            }
            
        }

    }
    // .signature {
    //     color: $primary-color;
    //     font-family: archivo, sans-serif;
    //     font-weight: 100;
    //     opacity: 0.5;
    //     margin: 10px;

    // }
}

@media screen and (min-width: $medium) {
    
    footer {
        padding: 30px;
    
        .social-media {

            width: 50%;
            margin-left: auto;
            margin-right: auto;

            i {
                font-size: 24px;
            }
        }
    }
}

@media screen and (min-width: $large) {

    footer {

        padding:30px;
    
    .social-media {
        
        i {
            font-size: 40px;
        }
    }
  }
}