header {
    text-align: center;
    color: $primary-color;
    font-family: 'circular-std', sans-serif;
    font-weight: 200;
    font-size: 12px;
    padding: 30px;
    display: flex;
    justify-content: space-between;

    
    
    .nav-items {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding:10px;
      }

      a {
        color: inherit;
        text-decoration: none;
        padding:10px;
        transition: all 0.3s ease-in-out;
        
        &:hover {
          cursor: pointer;
          opacity: 50%;
      }

  }
}

@media screen and (min-width:$medium) {

  header {
    padding: 20px;
    font-size: 16px;
  }
}

@media screen and (min-width: $large) {

  header {
    padding: 20px;
    font-size: 24px;
  }
}