header {
    // border: solid $primary-color 2px;
    text-align: center;
    color: $primary-color;
    font-family: Inter;
    font-weight: 200;
    font-size: 12px;
    padding:20px;
    display: flex;
    justify-content: space-between;
    
    .nav-items {
        // border: solid $primary-color 2px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding:10px;
      }

      a:hover {
        cursor:pointer;
        opacity: 50%;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
}