@import "../defaults/color";
@import "../defaults/breakpoint";
@import "../defaults/fonts";
@import "../components/header";
@import "../components/body";
@import "../components/header-logo";
@import "../components/footer";

body { 
    background-image: url('../../../docs/images/line.png');
    background-size: 1500px;
}

main {
    color: $primary-color;
    width: 80%;
}

.about {
    // border: solid $primary-color 2px;
    
    margin: 0px 20px 20px 20px;

    h1 {
        @include h1-font-1;
    }

    h2 {
        @include h2-font-1;
    }

    p {
        @include p-font-1;
        
        
    }
}

@media screen and (min-width: 450px) {
    body {
        background-size: 2000px;
    }
    main {
        width: 65%;
    }
}

@media screen and (min-width: $medium) {
    body {
        background-size: 2500px;
    }
   
    main {
        width: 60%;
        .about {
            margin-left: 50px;
            h1 {
                font-size: 48px;
            }
            h2 {
                font-size: 42px;
            }
            p {
                font-size: 18px;
                // background-color: rgba(1,0,0,.5);

            }
        }    
    }
    
}

@media screen and (min-width: 850px) {
    body {
        background-size: 3000px;
    }
    main {
        width: 55%;
    }
}



@media screen and (min-width: $large) {
    body {
        background-size: 3500px;
        background-position: left;
    }
    main {
        display: flex;
        flex-grow: 1;
        align-items: flex-end;
        width: 45%;
        .about {
            h1 {
                font-size: 80px;
            }
        }
    }
}