@import "../defaults/color";
@import "../defaults/breakpoint";
@import "../defaults/fonts";
@import "../components/body";
@import "../components/header";
@import "../components/header-logo";
@import "../components/body";
@import "../components/footer";
@import url(https://fonts.googleapis.com/css?family=Archivo:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Codystar:300,regular);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

body { 
    background-color: $background-color;

}

main {
    color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-image {
    // border: solid $primary-color 2px;
    display: flex;
    justify-content: center;
    margin: 5px;

    img {
        width: 100px;
        border-radius: 50%;
    }
}

h2 {
    @include h2-font-1;
}

p {
    @include p-font-1;
}

form {
    
    margin: 30px;

        .form-elements {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;
            padding: 5px;

            label {
                font-size: 16px;
                font-family: archivo, sans-serif;
                margin-bottom: 10px;
            }

            .form-input {
                border: $primary-color solid 1px;
                border-radius: 4px;
                background-color: $background-color;
                outline: none;
                font-size: 1.2rem;

                &:not(.form-textarea) {
                    height: 32px;
                }
            }
        }
        .btn-div {
            text-align: center;

            #submit {
                color: $primary-color;
                height: 40px;
                min-width: 120px;
                border-radius: 25px;
                border: $primary-color solid 1px;
                outline: none;
                background-color: $background-color;
            }
            #submit:hover {
                cursor: pointer;
            }
        }
 }




@media screen and (min-width: $medium) {

    .header-image {
        margin: 10px;
        img {
            width: 150px;
        }
    }

    .form-1 {
        display: flex;
        flex-direction: row;   
        }

    header {
            margin-top: 20px;
            font-size: 16px;
        }
    h1 {
            font-size: 48px;
        }
    h2 {
            font-size: 42px;
        }

}
