@import "../defaults/color";
@import "../defaults/breakpoint";
@import "../defaults/fonts";
@import "../components/body";
@import "../components/header";
@import "../components/header-logo";
@import "../components/footer";

body { 
    background-color: $background-color;
    background-image: url('../../../docs/images/disk.png');
    background-size: 1500px;
    background-position: left;

}

main {
    color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h2 {
    @include h2-font-1;
}

p {
    @include p-font-1;
}

form {
    
    margin: 30px;

        .form-elements {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;
            padding: 5px;

            label {
                font-size: 16px;
                font-family: archivo, sans-serif;
                margin-bottom: 10px;
            }

            .form-input {
                border: $primary-color solid 1px;
                border-radius: 4px;
                background-color: $background-color;
                outline: none;
                font-size: 1.2rem;

                &:not(.form-textarea) {
                    height: 32px;
                }
            }
        }
        .btn-div {
            text-align: center;

            #submit {
                color: $primary-color;
                height: 40px;
                min-width: 120px;
                border-radius: 25px;
                border: $primary-color solid 1px;
                outline: none;
                background-color: $background-color;
            }
            #submit:hover {
                cursor: pointer;
            }
        }
 }




@media screen and (min-width: $medium) {

    body {
        background-size: 1500px;
    }

    .form-1 {
        display: flex;
        flex-direction: row;  
    } 

    h2 {
        font-size: 56px;
    }

    p {
        font-size: 24px;
    }
    
}

@media screen and (min-width: $large) {

    body {
        background-size: 2000px;
    }

    h2 {
        font-size: 80px;
        margin: 50px;
    }
    
    p {
        font-size: 32px;
    }
}