@import "../defaults/color";
@import "../defaults/breakpoint";
@import "../defaults/fonts";
@import "../components/header";
@import "../components/footer"; 
@import "../components/body";

body {
    background-image: url('../../../docs/images/bg-shape-1.png');
    background-size: cover;
}

main {
    color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name,
.title {
    // border: solid $primary-color 2px;
    margin: 20px;
    text-align: center;

    h1 {
        @include h1-font-1;
    }
    h2 {
        @include h2-font-1;
    }
}

@media screen and (min-width: $medium) {

    body {
        background-size: 1500px;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .name {
        h1 {
            font-size: 64px;
        }
    }    
    .title {
        h2 {
            font-size: 48px;
        }
    }  
    
}
   
    


@media screen and (min-width: $large) {



    body {
        background-size: 1200px;
        background-position: center;
    }
    .title {
        margin: 0px; 
    }
}