@import "../defaults/color";
@import "../defaults/breakpoint";
@import "../defaults/fonts";
@import "../components/body";
@import "../components/header";
@import "../components/header-logo";
@import "../components/footer";


body { 
    background-color: $background-color;
    background-image: url('../../../docs/images/bg-shape-4.png');
    background-size: cover;
}

main {
    color: $primary-color;
    display: flex;
    flex-grow: 1;
}

.projects {
    width: 100%;
    padding: 20px;
    line-height: 4em;
    img {
        width: 60px;
    }
    a {
        letter-spacing: -0.08em;
        font-size: 48px; 
        transition: all 0.3s ease-in-out;
        color: inherit;
        text-decoration: none;
        mix-blend-mode: difference;

        &:hover {
            letter-spacing: +.1em;
            font-size: 56px;
        }
    }
}

@media screen and (min-width: $medium) {
    .projects {
        a {
            font-size: 80px;

            &:hover {
                font-size: 88px;
            }
        }
    }
}