@import "../defaults/color";
@import "../defaults/breakpoint";
@import "../defaults/fonts";
@import "../components/body";
@import "../components/header";
@import "../components/header-logo";
@import "../components/footer";
@import url('https://fonts.cdnfonts.com/css/circular-std');


body { 
    background-color: $background-color;
    background-image: url('../../../docs/images/bg-shape-3.png');
    font-family: "circular std", sans-serif;

}

main {
    color: $primary-color;
    display: flex;
    flex-grow: 1;
}

.projects {
    width: 100%;
    padding: 20px;
    line-height: 4em;
    a {
        letter-spacing: -0.08em;
        font-size: 2.9em; /* default font size for links */
        transition: all 0.3s ease-in-out;
        color: inherit;
        text-decoration: none;

        &:hover {
            letter-spacing: +.1em;
            font-size: 3.1em;
        }
    }
}